# Pastikan semua file dihitung sebagai bahasa pemrograman
*.html linguist-detectable=true
*.cpp linguist-detectable=true
*.js linguist-detectable=true

# Pastikan mereka bukan dianggap sebagai dokumentasi
*.js linguist-documentation=false
*.cpp linguist-documentation=false
